<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://f.i.uol.com.br/fotografia/2023/09/10/169438837064fe509233671_1694388370_5x2_lg.jpg"
        height="200px"
        alt="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Título da notícia</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero alias odio, accusamus aperiam voluptate earum molestias labore ipsam repellat laborum assumenda hic laudantium autem eius. Quia perferendis voluptate consequatur perspiciatis? 
            </a>
        </p>
    </div>
</div>